In [1]:
import pandas as pd

In [5]:
white_wines = pd.read_csv("white_wine.csv", sep=";", skipinitialspace=True, header=0)

In [6]:
white_wines

,fixedacidity,volatileacidity,citricacid,residualsugar,chlorides,freesulfurdioxide,totalsulfurdioxide,density,pH,sulphates,alcohol,quality
0,7,",27",",36","20,7",",045",45,170,"1,001",3,",45","8,8",4
1,"6,3",",3",",34","1,6",",049",14,132,",994","3,3",",49","9,5",4
2,"8,1",",28",",4","6,9",",05",30,97,",9951","3,26",",44","10,1",4
3,"8,1",",28",",4","6,9",",05",30,97,",9951","3,26",",44","10,1",4
4,"6,2",",32",",16",7,",045",30,136,",9949","3,18",",47","9,6",4
...,...,...,...,...,...,...,...,...,...,...,...,...
3929,"4,9",",235",",27","11,75",",03",34,118,",9954","3,07",",5","9,4",4
3930,"6,2",",21",",29","1,6",",039",24,92,",99114","3,27",",5","11,2",4
3931,"6,6",",32",",36",8,",047",57,168,",9949","3,15",",46","9,6",3
3932,"6,5",",24",",19","1,2",",041",30,111,",99254","2,99",",46","9,4",4
3933,"5,5",",29",",3","1,1",",022",20,110,",98869","3,34",",38","12,8",5